Build/Tmp/*
*.labels
*.list
*.sld
*.trdW
*.sna
*.spg

Examples/1.Empty/Files/Core.bin
Examples/1.Empty/Files/TSLib.bin

Examples/2.HelloWorld/Files/Core.bin
Examples/2.HelloWorld/Files/TSLib.bin

Examples/3.Bitmap/Files/Core.bin
Examples/3.Bitmap/Files/TSLib.bin

Examples/4.Noise/Files/Core.bin
Examples/4.Noise/Files/TSLib.bin

Examples/Game/Files/Core.bin
Examples/Game/Files/TSLib.bin
Examples/Game/Files/DL.bin

Examples/Prototype/Files/Core.bin
Examples/Prototype/Files/TSLib.bin